body, html {
	background-color: grey;
	background-image: url("http://media-cache-ec0.pinimg.com/736x/bf/e2/75/bfe27557d4d6eb7d3dcffba51da04d50.jpg");
	background-repeat: repeat-y;
	background-size: 1500px;
	}


@media screen and (max-width: 320px) {
	html{background: purple;
	}
}

@media screen and (max-width: 1024px) {
	html{background: purple;
	}
}
